<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Registeration_module</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>MyPackage.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_user</display-name>
    <servlet-name>Register_user</servlet-name>
    <servlet-class>MyPackage.Register_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_user</servlet-name>
    <url-pattern>/Register_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register2</display-name>
    <servlet-name>Register2</servlet-name>
    <servlet-class>MyPackage.Register2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register2</servlet-name>
    <url-pattern>/Register2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminhome</display-name>
    <servlet-name>Adminhome</servlet-name>
    <servlet-class>MyPackage.Adminhome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminhome</servlet-name>
    <url-pattern>/Adminhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>MyPackage.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>MyPackage.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>MyPackage.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
</web-app>
